<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Add Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="post()">Click</ion-button>
  <ion-list lines="full">
    <form [formGroup]="productForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Product Type</ion-label>
        <ion-input formControlName="productType" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" type="number">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Decription</ion-label>
        <ion-input formControlName="description" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Made In</ion-label>
        <ion-input formControlName="madeIn" type="text" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add Product</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>